.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

@supports (grid-area: auto) {

	.grid-footer {
		display: grid;
		grid-gap: $global-spacing-unit-4;
		grid-template-columns: repeat(4, 1fr);

		&__logos,
		&__credit,
		&__info {
			grid-column: span 4;
		}

		@media screen and (min-width: $breakpoint-small) {
			&__logos,
			&__credit {
				grid-column: span 2;
			}
		}
	}

}

.pagination {
	padding-bottom: $global-spacing-unit-1 * 8;
}

@media screen and (min-width: $breakpoint-1) {

	.grid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&__main {
			width: 64%;
		}

		&__sidebar {
			width: 32%;
		}

		.entry--card {
			width: 30%;
		}
	}

	.grid-footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&__item {
			width: 30%;
		}
	}

	.pagination {
		padding-bottom: 0;
	}

	@supports (grid-area: auto) {

		.grid {
			display: grid;
			grid-gap: $global-spacing-unit-4;
			grid-template-columns: repeat(3, 1fr);

			&__main {
				grid-column: span 2;
				width: auto;
			}

			&__sidebar {
				border-left: 1px solid;
				grid-column: span 1;
				padding-left: $global-spacing-unit-1 * 2;
				width: auto;
			}

			.entry--card {
				width: auto;
			}
		}

		.grid-footer {
			display: grid;

			&__item {
				width: auto;
			}

			&__logos,
			&__credit {
				border-right: 1px solid;
				grid-column: span 1;
				padding-right: $global-spacing-unit-1 * 3;
			}

			&__info {
				grid-column: span 2;
			}
		}

	}

}
