// Blocks.
.wp-block {
	// Button.
	&-button {
		margin-bottom: $global-spacing-unit-4;

		&.aligncenter {
			text-align: center;
		}

		&.alignright {
			text-align: right;
		}

		&__link {
			@include button-block;
			display: inline-block;
			text-decoration: none;

			&:visited {
				color: var(--color-white);
			}

			&:hover,
			&:focus,
			&:active {
				@include button-block-hover;
			}
		}
	}

	// Text columns.
	&-text-columns {
		margin-bottom: $global-spacing-unit-4;

		.wp-block-column {
			margin: 0;
			width: auto;

			:last-child {
				margin-bottom: 0;
			}
		}

		@supports (grid-area: auto) {
			@media (min-width: $breakpoint-1) {
				display: grid;
				grid-gap: $global-spacing-unit-3;
				grid-template-columns: repeat(2, 1fr);

				&.columns-3 {
					grid-template-columns: repeat(3, 1fr);
				}

				&.columns-4 {
					grid-template-columns: repeat(4, 1fr);
				}
			}
		}
	}

	// Cover image.
	&-cover-image {
		align-items: center;
		background-size: cover;
		display: flex;
		justify-content: center;
		margin-bottom: $global-spacing-unit-4;
		min-height: $global-spacing-unit-3 * 18;
		position: relative;

		&-text {
			font-size: var(--font-size-h1);
			color: var(--color-white);
			z-index: 1;
			padding: $global-spacing-unit-3;
			text-align: center;
		}

		&.has-left-content {
			justify-content: flex-start;

			&-text {
				margin-left: 0;
				text-align: left;
			}
		}

		&.has-right-content {
			justify-content: flex-end;

			&-text {
				margin-right: 0;
				text-align: right;
			}
		}

		&.has-parallax {
			background-attachment: fixed;
		}

		&.has-background-dim::before {
			background-color: rgba(0, 0, 0, 0.5);
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}

		@for $i from 1 through 10 {
			&.has-background-dim-#{ $i * 10 }:before { /* stylelint-disable-line */
				background-color: rgba(0, 0, 0, $i * 0.1);
			}
		}

		&.components-placeholder {
			height: inherit;
		}

	}

	// Embed blocks.
	&-embed.is-type-video {
		height: 0;
		overflow: hidden;
		padding-top: 56.25%;
		position: relative;

		iframe {
			height: 100%;
			max-width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}

	// Pullquote and Quote.
	&-pullquote {
		border-bottom: 0.25rem solid;
		border-left: 0;
		border-top: 0.25rem solid;
		padding: $global-spacing-unit-4 0;
		text-align: center;

		cite {
			font-size: var(--global-font-size);
			text-transform: none;
		}
	}

	&-quote.is-large cite {
		display: block;
		text-align: right;
	}

	// Subheading.
	&-subhead {
		@include subheading;
	}

	// Gallery.
	&-gallery {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		margin-left: -$global-spacing-unit-1;
		margin-right: -$global-spacing-unit-1;
		padding-left: 0;

		.blocks-gallery-item {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			justify-content: center;
			margin: $global-spacing-unit-1;
			position: relative;

			figure {
				align-items: flex-end;
				height: 100%;
				display: flex;
				margin: 0;
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
			}

			figcaption {
				background-color: var(--color-base);
				color: var(--color-white);
				padding: $global-spacing-unit-1 / 2;
				margin-bottom: 0;
				margin-top: 0;
				position: absolute;
				text-align: center;
				width: 100%;
			}

			// Responsive fallback value, 2 columns.
			width: calc(100% / 2 - #{ $global-spacing-unit-1 } * 2);
		}

		// Cropped.
		&.is-cropped .blocks-gallery-item {
			a,
			img {
				flex: 1;
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}

		&.columns-1 .blocks-gallery-item {
			width: calc(100% / 1 - #{ $global-spacing-unit-1 } * 2);
		}

		@media (min-width: $breakpoint-1) {
			@for $i from 3 through 8 {
				&.columns-#{ $i } .blocks-gallery-item {
					width: calc(100% / #{ $i } - #{ $global-spacing-unit-1 } * 2);
				}
			}
		}
	}
}

// Paragraph.
.has-drop-cap {
	&::first-letter {
		font-size: var(--font-size-h1);
		float: left;
		font-style: normal;
		font-family: serif;
		font-weight: 600;
		margin-right: $global-spacing-unit-3;
		text-transform: uppercase;
	}

	&:not(:focus) {
		overflow: hidden;
	}
}

// Has background.
.has-background:not(.wp-block-button__link) {
	padding: $global-spacing-unit-3;
}
