/**
 * Blocks stylesheet for the theme.
 *
 * This is for the editor.
 */

/*--------------------------------------------------------------
# Settings - Global variables, config switches.
--------------------------------------------------------------*/
@import "settings/core";
@import "settings/fonts";
@import "settings/colors";

/*--------------------------------------------------------------
# Tools - Default mixins and functions.
--------------------------------------------------------------*/
@import "tools/mixins";
@import "tools/font-size";

// Editor styles.
.editor-styles-wrapper {

	/*--------------------------------------------------------------
	# Elements - Unclassed HTML elements (type selectors).
	--------------------------------------------------------------*/
	@import "elements/page";
	@import "elements/blockquote";
	@import "elements/forms";
	@import "elements/headings";
	@import "elements/hr";
	@import "elements/links";
	@import "elements/lists";
	@import "elements/media";
	@import "elements/misc";
	@import "elements/pre-code";
	@import "elements/tables";


	/*--------------------------------------------------------------
	# Blocks - editor related styles.
	--------------------------------------------------------------*/
	@import "blocks/blocks";
	@import "blocks/color-palette";


	/*--------------------------------------------------------------
	# Editor related styles which overwrites above styles.
	--------------------------------------------------------------*/

	/* Acts like a body. */
	&.editor-styles-wrapper {
		@include typography;
	}

	/* Paragraph needs more specifity. */
	.wp-block p.wp-block-paragraph {
		font-size: var(--global-font-size);
	}

	/* Post title. */
	.editor-post-title {

		&__block {
			max-width: $max-width-2;
		}

		&__input {
			font-size: var(--font-size-h1);
			min-height: auto;
		}
	}

	.wp-block {
		max-width: $max-width-2;
	}

	.editor-rich-text__tinymce:not(.wp-block-cover-text):not(.wp-block-subhead):not(h2):not(h3) {
		line-height: $global-line-height;
	}

	/*--------------------------------------------------------------
	# Utilities - Helpers and overrides.
	--------------------------------------------------------------*/
	@import "utilities/font-sizes";
	@import "utilities/helpers";

}
