.comments {
	&__title {
		margin-bottom: $global-spacing-unit-6;
	}

	&-nav {
		margin-bottom: $global-spacing-unit-6;

		&__title {
			width: 100%;
		}
	}

	&__list {
		@include reset-list();

		.children {
			@include reset-list();
			padding-left: 3%;
		}
	}
}

.comment {
	&--depth-1 {
		padding-bottom: $global-spacing-unit-4;
	}

	&__meta {
		margin-bottom: $global-spacing-unit-4;

		a {
			color: var(--color-dark);
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				text-decoration: underline;
			}
		}
	}

	&__avatar {
		border-radius: 4px;
		height: 60px;
		margin-right: $global-spacing-unit-2;
		width: 60px;
	}
}
