.app-footer {
	background-color: rgba(var(--color-light-rgb), 0.3);
}

.svg-img {
	&--site-logo {
		border-bottom: 1px solid;
		display: block;
		margin-bottom: $global-spacing-unit-1 * 4;
		max-width: 150px;
		padding-bottom: $global-spacing-unit-1 * 4;
	}

	&--potilaat {
		max-width: 150px;
	}
}
