.fp-title {
	align-items: flex-end;
	background-image: linear-gradient(180deg, rgba(256, 256, 256, 0.3) 10%, rgba(256, 256, 256, 1) 100%), url("../img/header.jpg");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
	min-height: 70vh;
	padding-bottom: $global-spacing-unit-1 * 8;
	padding-top: $global-spacing-unit-1 * 8;

	@media screen and (min-width: $breakpoint-1) {
		min-height: 85vh;
		padding-bottom: $global-spacing-unit-1 * 16;
	}
}

.fp-articles {
	background-color: var(--color-base);

	&__bg-img {
		display: none;
		left: 0;
		right: 0;
		top: -7rem;

		@media screen and (min-width: $breakpoint-1) {
			display: block;
		}
	}
}

.fp-featured {
	background-color: var(--color-light);
}
