.pagination {
	&__items {
		@include reset-list();
		display: flex;
		flex-wrap: wrap;
	}

	&__item:not(:last-child) {
		margin-right: $global-spacing-unit-2;
	}

	&__anchor {
		background-color: rgba(var(--color-light-rgb), 0.3);
		display: block;
		padding: $global-spacing-unit-1 $global-spacing-unit-2;
		text-decoration: none;
	}
}

.comments-pagination {
	+ .comments__list {
		margin-top: $global-spacing-unit-2 * 3;
	}

	.comments__list + & {
		margin-bottom: $global-spacing-unit-2 * 3;
	}
}

// For Core markup.
.page-numbers {
	margin-right: $global-spacing-unit-2;
	text-decoration: none;

	&:not(.dots) {
		background-color: rgba(var(--color-light-rgb), 0.3);
		padding: $global-spacing-unit-1 $global-spacing-unit-2;
	}
}
