.pagination__items {
	@include reset-list();
	display: flex;
	flex-wrap: wrap;
}

.pagination__item:not(:last-child) {

	&::after {
		content: "\002F";
		padding: 0 $global-spacing-unit-2;
	}
}

.pagination__anchor,
.page-numbers {
	text-decoration: none;
}

.page-numbers {
	margin-right: $global-spacing-unit-2;

	&:not(.dots) {
		background-color: var(--color-light);
		padding: $global-spacing-unit-1 $global-spacing-unit-2;
	}
}
