.sidebar__wrapper {
	@include cool-featured();
}

.widget {
	margin-bottom: $global-spacing-unit-4;

	select {
		max-width: 100%;
	}

	&--nav-menu ul {
		@include reset-list();

		ul {
			padding-left: $global-spacing-unit-1 * 3;
		}
	}
}
