table {
	border-collapse: separate;
	border-spacing: 0;
	margin: 0 0 $global-spacing-unit-4;
	table-layout: fixed;
	width: 100%;
}

tr:nth-child(even) {
	background-color: rgba(var(--color-light-rgb), 0.3);
}

tr {
	vertical-align: top;
}

th,
td {
	padding: $global-spacing-unit-1;
	text-align: left;
}
