.decoration-none {
	text-decoration: none;
}

.h-decoration-underline {

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

.font-main {
	font-family: $font-main;
}

.fw-200 {
	font-weight: 200;
}

.fw-300 {
	font-weight: 300;
}

.fw-600 {
	font-weight: 600;
}

.color-dark {
	color: var(--color-dark);
}

.color-grey-60 {
	color: var(--color-grey-60);
}

.text-center {
	text-align: center;
}

.block {
	display: block;
}
