.max-width-1 {
	max-width: $max-width-1;
}

.max-width-2 {
	max-width: $max-width-2;
}

.max-width-3 {
	max-width: $max-width-3;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.reset-list {
	@include reset-list();
}
