////
/// @group variables
////

:root {
	--color-white: #fff;
	--color-black: #000;
	--color-light: #b7a99a;
	--color-base: #007fa3;

	--color-base-rgb: 0, 127, 163;
	--color-light-rgb: 183, 169, 154;
	--color-dark: #111;
	--color-grey-60: rgba(0, 0, 0, 0.6);
	--color-grey-20: rgba(0, 0, 0, 0.2);
	--color-grey-10: rgba(0, 0, 0, 0.1);
}
